.blogPostImg {
	position: relative;
	min-height: 250px;
	max-height: 250px;
}
.blogPostImg img {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	max-height: 100%;
}
.blogPostItem p.postText {
	height: 72px;
}
.blogPostItem h3.postTitle {
	height: 54px;
}
.homeV1PostDesc{
	top: 75%;
}
.overlayBox:hover, .overlayBox:hover {
    background: rgba(255,255,255,0.7);
}
.container {
	padding-bottom: 143px;
}
#footer {
	height: 143px;
}
#footer .wrapper{
	margin-top: 59px;
}
.newsSocial {
	background: #222222;
	padding-right: 30px;
	padding-left: 30px;
}
.newsSocial .footerSocialItem {
	width: 185px;
}
.comment-form-author, .comment-form-email, .comment-form-url {
	width: 370px;
}
#loader{
    position:fixed;
    left: 0;
    top: 0;
    width: 100%;
    height:100%;
    z-index:99999;
    text-align:center;
    vertical-align:middle;
    filter: Alpha(Opacity=70);
    opacity: 0.90;
    background-color: #000000;
    padding-top:320px;
}
#loader i{
	color: #B50000;
}
.singlePostWrap p{
	white-space: pre-line;
	word-wrap: break-word;
	font-size: 17px;
	line-height: 2;
	text-align: right;
}
.singlePostMeta {
    text-align: right;
}
.singlePostMeta h1{
	padding: 0;
}
/* ---------------------------------- for RTL ---------------------------------- */
.mainMenu{
	float: right;
}
.mainMenu li{
	float: right;
}
.mainMenu li:first-child{ margin-left: 40px; }
.mainMenu li:last-child{ margin-left: 0; }
.footerSocialItem{
	float: right;
	text-align: right;
}
.footerSocialItem a, .footerSocialItem a:visited{
	padding-right: 49px;
	padding-left: 0;
}
.footerSocialItem a i{
	right: 0;
	left: auto;
}
.footerSocialItem p{
	font-family: 'Josefin Sans', sans-serif;	
}
.blogPostBox .blogPostItem{
	float: right;
}
.blogPostBox .blogPostItem:nth-child(3n+1){
	margin-left: 30px;
}
.blogPostBox .blogPostItem:nth-child(3n+3){
	margin-left: 0;
}