.blogPostImg {
	position: relative;
	min-height: 250px;
	max-height: 250px;
}
.blogPostImg img {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	max-height: 100%;
}
.blogPostItem p.postText {
	height: 72px;
}
.blogPostItem h3.postTitle {
	height: 54px;
}
.homeV1PostDesc{
	top: 75%;
}
.overlayBox:hover, .overlayBox:hover {
    background: rgba(255,255,255,0.7);
}
.container {
	padding-bottom: 143px;
}
#footer {
	height: 143px;
}
#footer .wrapper{
	margin-top: 59px;
}
.newsSocial {
	background: #222222;
	padding-right: 30px;
	padding-left: 30px;
}
.newsSocial .footerSocialItem {
	width: 185px;
}
.comment-form-author, .comment-form-email, .comment-form-url {
	width: 370px;
}
.comment-form-comment{ width:100%; float:left }
.custom_error_msg_style{ color:red;font-size:10px }
.custom_error_msg_border{ border:1px solid red !important; }