@import url('https://fonts.googleapis.com/css?family=Cairo:200,300,400,600,700,900');
body *{
	font-family: 'Cairo', sans-serif !important;
}
.fa{
	font: normal normal normal 14px/1 FontAwesome !important;
}
.blogPostImg {
	position: relative;
	min-height: 250px;
	max-height: 250px;
}
.blogPostImg img {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	max-height: 100%;
}
.blogPostItem p.postText {
	height: 72px;
}
.blogPostItem h3.postTitle {
	height: 54px;
}
.homeV1PostDesc{
	top: 75%;
}
.overlayBox:hover, .overlayBox:hover {
    background: rgba(255,255,255,0.7);
}
.container {
	padding-bottom: 73px;
}
#footer {
	height: auto;
}
#footer .wrapper{
	/*margin-top: 59px;*/
}
#footer .wrapper .copyright{
	padding: 30px 0;
	font-size: 13px;
}
.newsSocial {
	padding: 20px 0;
	border-bottom: none;
	margin-bottom: 40px;
}
.newsSocial .footerSocialItem {
	width: auto;
	margin-left: 20px;
}
.newsSocial .footerSocialItem:last-child {
	margin-left: 0;
}
.newsSocial .footerSocialItem a i{
	color: #222222;
	border-color: #222222;
	line-height: 33px !important;
}
.newsSocial .footerSocialItem a p{
	color: #222222;
	margin-bottom: 0;
}
.comment-form-author, .comment-form-email, .comment-form-url {
	width: 370px;
	max-width: 100%;
}
.comment-form-comment{ width:100%; float:left }
.custom_error_msg_style{ color:red;font-size:10px }
.custom_error_msg_border{ border:1px solid red !important; }
#loader{
    position:fixed;
    left: 0;
    top: 0;
    width: 100%;
    height:100%;
    z-index:99999;
    text-align:center;
    vertical-align:middle;
    filter: Alpha(Opacity=70);
    opacity: 0.90;
    background-color: #000000;
    padding-top:320px;
}
#comments .comments-title{
	padding-bottom: 5px;
	border-bottom:  1px solid #8acace;
}
#loader i{
	color: #B50000;
}
.singlePostWrap p{
	white-space: pre-line;
	word-wrap: break-word;
	font-size: 17px;
	line-height: 2;
	text-align: right;
}
.singlePostMeta {
    text-align: right;
}
.singlePostMeta h1{
	padding: 0;
}
.singlePostWrap .heading_text {
    margin-bottom: 20px;
    border-bottom: 1px solid #8acace;
}
.g-recaptcha{
	float: left;
	width: 100%;
	margin-bottom: 30px;
}
.logo{
	margin-left: 0;
	transform: translateX(-50%);
	width: auto;
	top: 135px;
}
#commentform  .comment-form-comment{
	margin-bottom: 30px;
}
#commentform  .comment-form-comment textarea{
	margin-bottom: 6px;
}
.no_result_div{
	text-align: center;
	margin-bottom: 30px;
}
.no_result_div img{
	width: 300px;
}
.no_result_div h2{
	font-size: 26px;
}

@media(max-width: 980px){
	.footerSocialItem p{
		display: none;
	}
	.newsSocial .footerSocialItem{
		width: auto;
		margin: 0 0 0 6px;
		float: none;
	}
	.footerSocialItem a, .footerSocialItem a:visited{
		padding-right: 37px !important;
	}
	.newsSocial{
		text-align: center;
		direction: rtl;
	}
}
@media(max-width: 360px){
}
/* ---------------------------------- for RTL ---------------------------------- */
.mainMenu{
	float: right;
}
.mainMenu li{
	float: right;
}
.mainMenu li:first-child{ margin-left: 40px; }
.mainMenu li:last-child{ margin-left: 0; }
.footerSocialItem{
	float: right;
	text-align: right;
}
.footerSocialItem a, .footerSocialItem a:visited{
	padding-right: 49px;
	padding-left: 0;
}
.footerSocialItem a i{
	right: 0;
	left: auto;
}
.footerSocialItem p{
	font-family: 'Josefin Sans', sans-serif;
	color: #fff;	
}
.blogPostBox .blogPostItem{
	float: right;
}
.blogPostBox .blogPostItem:nth-child(3n+1){
	margin-left: 30px;
}
.blogPostBox .blogPostItem:nth-child(3n+3){
	margin-left: 0;
}
.commentsBox{
	direction: rtl;
	text-align: right;
}
.comment-wrapper{
	text-align: right;
	margin-right: 26px;
	display: block;
}
.reply{
	left: 0;
	right: auto;
}
.comment-meta{width: 58px;}
.commentList li.depth-2 .comment-body {padding-right: 60px;padding-left: 0;}
.commentList li.depth-3 .comment-body {padding-right: 120px;padding-left: 0;}
.commentList li.depth-4 .comment-body {padding-right: 180px;padding-left: 0;}
.commentsBox.modal .comment-respond{
	direction: rtl;
	text-align: right;
}
.comment-form-author, .comment-form-email, .comment-form-url{
	float: right;
}
.comment-form-author{
	margin-left: 30px;
}
.comment-form-url{
	margin-left: 0;
}
.commentsBox.modal .comment-form-author,
.commentsBox.modal .comment-form-email,
.commentsBox.modal .comment-form-url {
	float: right;
}
.jquery-modal.blocker.current{
	z-index: 99999;
}
.singlePostWrap ul, .singlePostWrap ol{
	margin-left: 0;
	margin-right: 40px;
	text-align: right;
}
.singlePostWrap ul li::before{
	left: auto;
	right: -24px
}